img{
    width: 100px;
    height: 100px;
}

body{
    background-color: yellow;
    text-align: center;
}

.container{
    background-color: black;
    width: max-content;
    margin: auto;
    color: white;
    margin-top: 100px ;
    padding: 40px;
    padding-bottom: 70px;
    border-radius: 20px;
} 
table tr{
    height: 40px;
}
table{
    margin-top: -20px;
}
.container h3{
    padding-top: 40px;
    padding-bottom: 30px;
}
.logo{
    position: absolute;
    width: 99%;
    margin-top: -50px;
}
.masuk{
    padding-top: 30px;
}
.tombol{
    width: 150px;
    height: 30px;
    border: 0px;
    border-radius: 25px;
    text-decoration: none;
    font-weight: bold;
    transition: 0.3s ease;
    background-color: rgb(132, 200, 255);
    color: black;
    font-family: sans-serif;
    font-size: 8pt;
}

.tombol:hover{
    background-color: rgb(191, 223, 250);
    cursor: pointer;
    transform: scale(1.1,1.1);
    font-weight: bold;
    font-size: 7.5pt;
}

