body{
  background-color: rgb(255, 0, 0);
  text-align: center;
  font-family: sans-serif;
}
.container{
  margin: auto;
  width: 900px;
  padding: 20px;
  background-color: white;
  border-radius: 20px;
  margin-top: 50px;
  height: 500px;
}

.kotak{
  height: 280px;
  width: max-content;
  margin: auto;
}

h1{
  padding-bottom: 20px;
}

.submit{
  margin-top: 40px;
  border: 0;
  width: 150px;
  height: 30px;
  border-radius: 10px;
  background-color: rgb(104, 104, 255);
  color: white;
  transition: 0.3s;
}

.submit:hover{
  cursor: pointer;
  background-color: blue;
  transform: scale(1.1,1.1);
}
a{
  text-decoration: none;
  color: black;
  font-size: 10px;
  transition: 0.3s ease;
}

.ahapus:hover{
  color: red;
  font-size: 11px;
}
.aubah:hover{
  color: blue;
  font-size: 11px;
}